.verticalItems {	
	width: 100%;	
	height: calc(20% - 5px);
	padding-bottom: 5px;
	text-align:center;
}

.horizontalItems {
	float: left;
	height: 100%;
	width: 30%;	
}

.reasonPanels {
	font-size:70%;
	text-overflow: ellipsis;
	overflow:hidden;
	text-align: left;
}

#mainpanel {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	
	padding: 10px 10px 10px 10px;
		
	color:	white;
	list-style-type:circle;
	font-size:200%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-bottom: thin;	
}

