#mailListPanel {	
	margin: 20px;
	overflow: scroll;
}

#mailListPanel::-webkit-scrollbar { 
    display: none; 
}


li {
	color:	white;
	list-style-type:circle;
	font-size:300%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-bottom: thin;
}

ul {
	
	list-style-type:circle;
}